---
tags:
  - MOC
sticker: lucide//map-pin
---
# Infinite State Verification
---
## About Section

--- 
## Notes
- [[Communication Free Petri-Net]]
- [[Coverability in Petri Nets is Decidable]]
	- [[Properties of Karp-Miller Trees]]
	- [[A More Efficient Method for Petri Net Coverability]]
- [[Finding the Downward Closure of Some Languages]]
	- [[Simple Regular Expressions]]
	- [[Simultaneous Unboundedness Problem]]

--- 
## MOCs

---
# References